/* 
background-color- ORQA FONDINI RANGI
background-image- ORQA FONDGA RANG BERISHDA FOYDALANILADI VA RASIMNI FAQAT VERTIKAL VA GARIZANTAL RAVISHDA TAKRORLAYDI
background-repeat-BU HUSUSIYATNI 3 XIL QIYMATI MAVJUD BULAR "1 repeat-x, 2 repeat-y va 3 no-repeat" bu 1 x oqi boyicha takrorlaydi 2 y oqi boyich takrorlaydi 3 esa takrorlanishini oldini oladi
background-position- bu hususiyat esa biz qoygan rasmimizni ekranni qaysi joyida joylashishini bilan shug'ullanadigan hususiyat va buni qo'shimch value lari ham mavjud bular "top, right, bottom, left," qiymatlari mavjud misol uchun 
background-attachment-bu properti o'ziga 2 xil qiymatni qabul qiladi bular " fixsed va scroll" qiymatlarni qabul qiladi 
background (shorthand property) */


/* 
body {
    background-color: lightblue;
  }
   */
  /* body {
  background-image: url("./img/shahar.jpg");
} */
body {
  background-image: url("./img/shahar.jpg");
  background-repeat: repeat-x;
  width: 500px;
}
/* body {
  background-image: url("img_tree.png");
  background-repeat: no-repeat;
  background-position: right top;
  margin-right: 200px;
} */